<div *ngIf="lat && lng">
  <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onChoseLocation($event)">
    <agm-marker
                [latitude]=" lat "
                [longitude]=" lng ">
      <agm-info-window [latitude]="lat" [longitude]="lng">
        <h3><strong>You are Here</strong></h3>
      </agm-info-window>
    </agm-marker>

    <agm-marker *ngFor="let marker of markers"
                [latitude]=" marker.lat "
                [longitude]=" marker.lng ">
      <agm-info-window [latitude]="marker.lat" [longitude]="marker.lng">
        <h3><strong>Garbage</strong></h3>
        <p>Type : {{ marker.choice }}</p>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>

<div class="backdrop" [ngStyle]="{'display': display}"></div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': display}">
  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>


      <div class="modal-body">

        <form [formGroup]="popupForm" (ngSubmit)="onSaveMarker()">

          <div class="form-group">
            <label for="choice">Chose the type of Garbage:</label>
            <select id="choice" class="form-control" formControlName="choice">
              <option value="glass">glass</option>
              <option value="plastic">plastic</option>
            </select>
          </div>

          <button class="btn btn-primary"
                  type="submit">Ok</button>

        </form>

      </div>


    </div>
  </div>
</div>
